@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.bag{
    background-color: #fb5f04;
}
.ha{
    color: #fb5f04;
}

#head-img{
    width: 100%;
    height: 90vh; 
}
.header-title{
    position: relative;
}

body{
    background-color:  #eef3f7;
    font-family: 'Poppins', sans-serif;
}
.title{
position: absolute;
margin-top: -430px;
margin-left: 150px;
font-size: 45px;
color: black;
font-weight: 550;
}
.title-content{
    position: relative;
} 
.like-h{
    height: 25px;
}
.content{
    position: absolute;
    margin-top: -350px;
    margin-left: 150px;
    font-size: 18px; 
    color: black;
}

.btn-container{
    position: relative;
}
.btn-1{
    position: absolute;
    margin-top: -250px;
    border-radius: 20px;
    margin-left: 150px;
    background-color: #fb5f04;
    padding: 6px 10px;
}

.img-card-1{
    cursor: pointer;
    transition: 0.5s;
}
.img-card-1:hover {
    transform: translateY(-10px);
}
.card-body-1{
    cursor: pointer;
}

.w-300{
    width: 300px;
}

.img-card-2{
    cursor: pointer;
    transition: 0.5s;
}
.img-card-2:hover{
      transform: translateY(-10px);
      background-color: #ec9717;
}
.card-text{
}

.card-body-3{
   
    cursor: pointer;
}
.card-body-3:hover{
    background-color: #ec9717;
}

.container-2{
    background-color: rgba(198, 196, 196, 0.213);
}
.w-90{
    width: 90%;
}

.container-4{
    margin-top: 50px;
    padding: 10px 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.container-4 h6{
    font-size: 35px;
}
.card-2{
    cursor: pointer;
}
.card-2:hover{
    background-color: #ec9717;
}
.img-box{
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s;
}
.r-bag{
    background-color: rgba(198, 196, 196, 0.213);
}
.img-box:hover {
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.bag{
    background-color: #fb5f04;
}
.ha{
    color: #fb5f04;
}
.ha:hover{
    color: #f8823f;
}
.btn-org{
    background-color: #fb5f04;
    color: #fff;
}
.btn-org:hover{
    background-color: #f8823f;
}
#head-img{
    width: 100%;
    height: 90vh; 
}
.header-title{
    position: relative;
}
.nav-link:hover{
    color: black;
}
.fs-nav{
    font-size: 18px;
}
.hover-card:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

body{
    background-color:  #eef3f7;
    font-family: 'Poppins', sans-serif;
}