body{
    background-color: #eef3f7;
}
.custom-search-container {
max-width: 600px; 
margin: 0 auto;
}

.custom-search-bar {
width: 100px; 
}
.bag{
    background-color: #fb5f04;
}
.ha{
    color: #fb5f04;
}
.cards{
margin-top: 30px; 
margin-left: 10px;
justify-content:space-around;
box-shadow: 1px 3px 5px black;
position: relative;
}
.card1{
margin: 40px;
box-shadow: 1px 3px 10px black;
}
.card1:hover{
box-shadow: 2px 2px 15px black;
transform: scale(1.03);
}
.cards:hover{
box-shadow: 2px 2px 15px black;
transform: scale(1.03);
}
.treding-card{
box-shadow: 1px 3px 10px black;
}
.treding-card:hover{
box-shadow: 2px 2px 15px black;
transform: scale(1.03);
}
.card-img:hover{
transform: scale(1.03);
}
.btn-1{
background-color: #fff;
color: black;
border: 1px solid black;
border-radius: 50px;

}
.btn-2{
background-color: #fd5f04;
border: none ;
border-radius: 60px;
color: rgb(8, 8, 8);
margin-left: 5px;
}
.btn-0{
background-color: #fd5f04;
border: none ;
border-radius: 60px;
color: rgb(8, 8, 8);
margin-left: 400px;
}
.btn-0:hover{
background-color: #fff;
color: black;
border: 1px solid black;
border-radius: 50px;
}
.btn-1:hover{
background-color: #fd5f04;
border: none ;
border-radius: 60px;
color: rgb(8, 8, 8);
}
.btn-2:hover{
background-color: #fff;
color: black;
border: 1px solid black;
border-radius: 50px;

}
.veg-icon{
position: absolute;
width: 80px;
left: 220px;
top: -15px;
margin: 0 auto;
padding: 30px;
border-radius: 10px;
}
.like-icon{
position: absolute;
width: 80px;
left: 220px;
top: 230px;
margin: 0 auto;
padding: 30px;
border-radius: 10px;
}
.like-icon:hover{
color: red;
}
